@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500&family=Open+Sans:wght@300;400&family=Roboto:wght@300&family=Yusei+Magic&display=swap");

font-family: "Bodoni Moda", serif;
font-family: "Open Sans", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Yusei Magic", sans-serif;
